:root {
    --correct: #538d4e;
    --almost: #b59f3b;
    --disable: #3a3a3c;
    --absent: #3a3a3c;
    --key-evaluated-text: #f8f8f8;
}

.wordle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid antiquewhite;
    margin: 1rem 0 1rem;
    padding: 1rem;
}

/* .wordle-nav {} */

.wordle-title {
    height: 60px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid grey;
    display: grid;
    place-items: center;
}

.wordle-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordle-board {
    width: 450px;
    height: 550px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-bottom: 3rem;
}

.wordle-board-row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.wordle-letter {
    flex: 33%;
    height: 100%;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.letter-correct { background-color: var(--correct); }
.letter-present { background-color: var(--almost); }
.letter-absent { background-color: var(--absent); }
.letter-filled { border-color: #878a8c; }


/* Keyboard */
.wordle-keyboard {
    display: flex;
    flex-direction: column;    
    height: 20rem;    
}

.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto;
    touch-action: manipulation;
    justify-content: center;
}

.key {
    width: 4rem;
    height: 70px;
    margin: 5px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.key-big { width: 8rem; }

.key-correct { background-color: var(--correct);}
.key-present { background-color: var(--almost);}
.key-absent { background-color:  var(--absent);}

.wordle-game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
}