.my-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.my-btn-primary {
    color: #FFF;
    background-color: var(--primary);
    border-color: var(--primary);
}

.my-btn:hover {
    color: var(--white-font);
    background-color: #0069d9;
    border-color: #0062cc;
}

.my-btn:focus .my-btn:hover {
    outline: 0;
    text-decoration: none;
}

.my-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}